%footer
  .footer-logo
    %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png", alt: "Logo image"}
    %ul
      %li 
        <a href="javascript:void(0)">About</a>
      %li 
        <a href="javascript:void(0)">Contact</a>
      %li 
        <a href="javascript:void(0)">Products</a>

    .footer-secondary-links
      %ul
        %li 
          <a href="javascript:void(0)">Terms and Conditions</a>
        %li 
          <a href="javascript:void(0)">Privacy Policy</a>